html {
  background-color: gray;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 16px;
  }

  *, *:before, *:after {
   box-sizing: inherit;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol, ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

a {
  text-decoration: none;
}

body {
  min-width: 1440px;
}
header {
  padding: 60px 162px 60px 162px;
  width: 1440px;
  background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 60%, rgb(39, 39, 39) 30%);
  background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 60%, rgb(39, 39, 39) 30%);
  background: linear-gradient(90deg, rgb(255, 255, 255) 60%, rgb(39, 39, 39) 30%);
}

.header_conteiner {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  color: #272727;
  text-decoration: none;
  font-size: 40px;
}

.header_nuv_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_nuv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx {
  padding-right: 40px;
  color: white;
}

.bx-shopping-bag {
  padding-right: 100px;
}
.bx-menu {
  padding: 0;
}
.header_container_2 {
  display: flex;
  justify-content: space-between;
}
.header_container_2_description {
  padding-top: 326px;
}
.header_container_2_description_p {
  padding-bottom: 50px;
  color: #272727;
  font-family: Forum;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_container_2_description_border {
  display: flex;
  justify-content: space-between;
}

.border_container {
  display: flex;
  align-items: center;
}
.border_conteiner_line {
  margin-left: 129px;
  width: 130px;
  border: 0.5px solid #272727;
}
.header_container_2_description_a {
  color: #272727;
  font-family: Segoe UI;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}
.conteiner_img1 {
  padding-top: 314px;
  padding-right: 240px;
}

.header_container_3 {
  display: flex;
  justify-content: space-between;
}

.header_container_3_ruen {
  padding-top: 346px;
}

.header_container_3_ring1_description {
  text-align:right;
  padding-top: 281px;
}
.header_container_3_ruen_ru {
  text-decoration: none;
  padding-right: 10px;
  color: black;
}
.header_container_3_ruen_en {
  text-decoration: none;
  color: #C4C4C4;
}

.header_container_3_ring1_name {
  padding-bottom: 9px;
  color: #FFF;
  text-align: right;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_container_3_ring1_material {
  padding-bottom: 9px;
  color: #838383;
  text-align: right;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header_container_3_ring1_price {
  color: #EFC58B;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.main {
  background-color: #fff;
}

.main_div1 {
  display: flex;
  justify-content: space-between;
}

.main_men {
  background: rgba(39, 39, 39, 0.40);
  width: 710px;
  height: 587px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_men_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.men_description_a {
  background-color: transparent;
  text-decoration: none;
  color: #FFF;
  text-align: right;
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.men_description_p {
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
}

.men_description_border_div {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 23px;
}

.men_description_border {
  width: 130px;
  border: 0.5px solid #FFF;
}


.main_women {
  background: rgba(39, 39, 39, 0.40);
  width: 710px;
  height: 587px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_women_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.women_description_a {
  background-color: transparent;
  text-decoration: none;
  color: #FFF;
  text-align: right;
  font-family: Futura PT;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.women_description_p {
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Forum;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
}

.women_description_border_div {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 23px;
}

.women_description_border {
  width: 130px;
  border: 0.5px solid #FFF;
}

.main_div2  {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main_serch-map {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727;
  width: 710px;
  height: 604px;
}

.main_serch-map_description {
  width: 386px;
}

.serch-map_p {
  color: #FFF;
  font-family: Forum;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  background-color: transparent;
}
.serch-map_p2 {
  color: #FFF;
  font-family: Forum;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  background-color: transparent;
  padding-bottom: 16px;
}
.serch-map_p3 {
  color: #FFF;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: transparent;
  padding-bottom: 60px;
}
.input {
  border: none;
  color: #FFF;
  background-color: transparent;
  padding-bottom: 10px;
}

.bx-right-arrow-alt {
  padding: 0;
}

.serch-map_input-div {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-bottom: 2px solid #FFF;
}

.main_div3 {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.main_div3_content1 {

}
.main_div3_content1_jows {
  background-color: #EDEDED;
  margin-bottom: 20px;  
}
.main_div3_content1_img-jow {
  padding: 47px 70px 68px 70px;
}
.main_div3_content1_jows-about {
  padding-left: 30px;
}
.main_div3_content1_jows-about_link {
}
.main_div3_content1_jows-about_name {
  color: #272727;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-bottom: 9px;
}
.main_div3_content1_jows-about_material {
  color: #757575;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 9px;
}
.main_div3_content1_jows-about_prie {
  color: #E2B67A;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
  padding-bottom: 20px;
}
.main_div3_content1_croix {
  background-color: #EDEDED;
}
.main_div3_content1_img-croix {
  padding: 60px 70px 68px 70px;
}
.main_div3_content1_croix_about {
  padding-left: 30px;
}
.main_div3_content1_croix_link {
}
.main_div3_content1_croix_name {
  color: #272727;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-bottom: 9px;
}
.main_div3_content1_croix_material {
  color: #757575;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 9px;
}
.main_div3_content1_croix_price {
  color: #E2B67A;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
  padding-bottom: 20px;
}
.main_div3_content2 {
  background-image: url(imges/necklaceEtoile.png);
  background-image: url(/imges/necklaceEtoile.png);
  width: 590px;
  height: 820px;
  display: flex;
  align-items: flex-end;
}
.main_div3_content2_etoile_about {
  padding-left: 30px;
}
.main_div3_content2_etoile_about_link {
}
.main_div3_content2_etoile_about_name {
  color: #FFF;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-bottom: 9px;
}
.main_div3_content2_etoile_about_material {
  color: #E7E7E7;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 9px;
}
.main_div3_content2_etoile_about_price {
  color: #EFC58B;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
    padding-bottom: 20px;
}
.main_div3_content3 {

}
.main_div3_content3_moon {
  background-color: #EDEDED;
  margin-bottom: 20px;
}

.img_moon {
  margin-top: -15px;
  margin-bottom: -10px;
}

.main_div3_content3_img-moon {
  padding: 0px 40px 0px 40px;
}
.main_div3_content3_moon_about {
  padding-left: 30px;
}
.main_div3_content3_moon_about_link {
}
.main_div3_content3_moon_about_name {
  color: #272727;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-bottom: 9px;
}
.main_div3_content3_moon_about_material {
  color: #757575;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 9px;
}
.main_div3_content3_moon_about_price {
  color: #E2B67A;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
  padding-bottom: 20px;
}
.main_div3_content3_win {
  background-color: #EDEDED;
}
.main_div3_content3_img-win {
  padding: 0px 43px 0px 43px;
}

.img_win {
  margin-top: -9px;
  margin-bottom: -10px;
}

.main_div3_content3_win_about {
  padding-left: 30px;
}
.main_div3_content3_win_about_link {
}
.main_div3_content3_win_about_name {
  color: #272727;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-bottom: 9px;
}
.main_div3_content3_win_about_material {
  color: #757575;
  font-family: Futura PT;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 9px;
}
.main_div3_content3_win_about_price {
  color: #E2B67A;
  font-family: Segoe UI;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
  padding-bottom: 20px;
}